@font-face { 
	font-family: 'Cafe24Dangdanghae';
 	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff') format('woff'); 
 	font-weight: normal; 
 	font-style: normal; }

@font-face { 
	font-family: 'S-CoreDream-8Heavy'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; }

@font-face { 
	font-family: 'BBTreeGR'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; }

.container{
	width: 960px;
	margin: auto;
	box-sizing: content-box;

}


nav{
	height: 70px;
	width: 100%;
	display: flex;
}


.nav-item{
	
	display: inline;
	margin-left: 10px;

	font-size : 15px;
	font-family: :'Cafe24Dangdanghae';
	float : right;
	padding-top:25px;
}






h1{
	font-family: 'Cafe24Dangdanghae';
	display: inline;
	float: left;
	font-size: 30px;
	padding-top:10px;
}

header{
	height: 600px;
	width:100%;
	background-image: url(https://t2.daumcdn.net/thumb/R720x0/?fname=http://t1.daumcdn.net/brunch/service/user/jVK/image/zl5IX24q0FerFiSOCaEOtxspXGQ.jpg);opacity:0.8;
	background-size:cover;
	padding-top:120px;

}

h2{

	text-align: center;
	font-size: 60px;
	font-family: 'S-CoreDream-8Heavy'; 
	
}

h6{
	text-align: center;
	font-size: 18px;
	font-family: 'BBTreeGR';
	line-height: 30px;
	padding-top:40px;
	font-weight: bold;

}

h5{
	font-size: 15px;
	font-family: 'BBTreeGR';
	line-height: 25px;
	font-weight: bold;
	
}

section{
	width:100%;
	/*display: flex;*/
	text-align:center;
	padding-top:50px;
	padding-bottom: 50px;
}


article{
	width: 310px;
	/*float:left;*/
	display:inline-block;
	vertical-align:top;
	padding-bottom: 50px;
}

.card{
	/*width: 310px;*/
	font-size: 15px;
	font-family: 'BBTreeGR';
	line-height: 25px;
	/*float:left;*/
	display:inline-block;
	

}


.musicbutton{
	padding-top:30px;
	font-family: 'Cafe24Dangdanghae';
	font-weight: bold;
}



footer{
	width:100%;
	font-size: 15px;
	color: white;
	text-align: center;
	padding-top:20px;
	padding-bottom:20px;
	background-color: black;
	background-size: cover;
